/* #3897D3 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    padding: 8px 0;
    padding-bottom: 2px;
    font-family: sans-serif;
    background-color: white;
  }
  
  .navbar .nav-list li a {
    color: #3897d3;
    font-size: 21px;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.2s ease;
  }
  
  .navbar .nav-list li a:hover {
    color: #0b608a;
  }
  .navbar .nav-list li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10%;
    top: 35px;
  }
  
  .line {
    width: 30px;
    background-color: #3897d3;
    height: 4px;
    margin: 4px 3px;
  }
  img{
    width: 190px;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .max-width {
    max-width: 1300px;
    padding: 0 100px;
    margin: auto;
  }
  
  .home {
    display: flex;
    color: black;
    min-height: 500px;
    font-family: sans-serif;
  }
  
  .home .paragraph {
    font-size: 37px;
    margin: auto;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 40px;
    color: rgb(43, 39, 39);
    margin-bottom: 10px;
  }
  
  .home .max-width {
    margin: auto 0 auto 40px;
  }
  
  .home .content .heading {
    font-size: 60px;
    font-weight: 600;
    margin: auto;
    font-family: sans-serif;
    margin-top: 80px;
    color: rgb(43, 39, 39);
  }
  
  @media (max-width: 1100px) {
    .home .max-width {
      margin-left: 0%;
    }
    .home{
      min-height: 320px;
    }
  }
  
  @media (max-width: 950px) {
    .max-width {
      padding: 0 50px;
    }
  
    .navbar-btn {
      display: block;
      z-index: 999;
    }
  
    .navbar .nav-list {
      position: fixed;
      height: 40vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: rgb(255, 255, 255);
      text-align: center;
      padding-top: 110px;
      transition: all 0.4s ease;
    }
  
    .navbar .nav-list.active {
      left: 0%;
    }
    .navbar .nav-list li {
      display: block;
    }
    .navbar .nav-list li a {
      display: inline-block;
      margin: 20px 0;
      font-size: 24px;
    }
  }
  
  .home .content .heading {
    font-size: 60px;
  }
  
  @media (max-width: 792px) {
    .home .content .heading {
      font-size: 40px;
      margin-top: 80px;
    }
  
    .home .paragraph {
      font-size: 20px;
      line-height: 25px;
    }
    .footer{
      font-size: 15px;
    }
    .points li {
      font-size: 18px;
      line-height: 25px;    
      width: 90%;
      text-align: left;
      font-weight: 600;
      list-style: none;
      text-align: center;
    }
  }
  @media screen and (max-width: 700px) {
    .images {
      flex-direction: column;
    }
  }
  
  .dash {
    margin-left: 0;
    width: 87px;
    border: 3px solid #3897d3;
  }
  
  div.gallery {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
    padding: 0px;
  }
  
  .gallery img {
    border: 2px solid rgb(0, 0, 0);
  }
  
  div.gallery:hover {
    border: 2px solid white;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  div.gallery {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
    padding: 0px;
  }

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 15 20px;
    width: 80%;
    margin: auto;
  }
  
  @media only screen and (max-width: 800px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .logo {
    border: none;
  }
  
  .footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(43, 39, 39);
    color: white;
    text-align: left;
    padding: 15px;
    font-family: sans-serif;
  }

  div.points {
    font-size: 29px;
    margin: auto;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 35px;
    color: rgb(43, 39, 39);
    width: 60%;
    text-align: center;
    list-style: none;
    margin-top: 40px;

  }

  .icn li{
    margin:auto;
    font-family: sans-serif;
    font-weight:bold;
    list-style: none;
    text-align: center;
  }

  .brk{
    border: 2px dashed black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }

  .icn .end{
    text-align: left;
    margin-bottom: 20px;
  }

  .last a {
    display: inline-block;
    background: #3897d3;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 2px solid #3897d3;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    
  }
  
  .last a:hover {
    color: black;
    background: none;
  }
  
  div.last{
    text-align: center;
  }
